/* Main Style */

html {
  font-size: -moz-calc(4px + 0.45vw);
  font-size: -webkit-calc(4px + 0.45vw);
  font-size: calc(4px + 0.45vw);
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  min-height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000;
}
*:focus {
  outline: 0;
}

.main {
  padding: 0 2rem;
}

.text {
  font-size: 20px;
}

/* Page Transition */
.content {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  
}

.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}

.content.fade-out {
  opacity: 0;
}

/* Navbar Style */

header {
  line-height: 12rem;
  height: 12rem;
  padding-bottom: 5rem;
}
header h1 {
  font-size: 2.2rem;
  font-family: 'Oswald', sans-serif;
}
header ul::after {
  content: '';
  display: table;
  clear: both;
}
header li {
  float: left;
  width: 12.5%;
  text-align: center;
  text-transform: uppercase;
}
header li:nth-child(4) {
  width: 25%;
}
header li a {
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Product Card Style */

.product-card {
  width: 250px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px;
  position: relative;
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-info {
  text-align: left;
  margin-top: 10px;
}

.brand {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.rating span {
  color: #ffcc00;
  font-size: 14px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: green;
  margin: 10px 0;
}

.add-to-cart {
  width: 50px;
  height: 50px;
  background: #4CAF50;
  border: none;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}

.add-to-cart:hover {
  background: #66BB6A;
}

.add-to-cart img {
  width: 20px;
  height: 20px;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;  /* Aligns items to the top */
  font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin: 0;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

.drop-area.dragging {
  border-color: #007bff;
  background-color: #f0f8ff;
}

#image-preview {
  display: block;
  margin-top: 10px;
  max-height: 150px;
}
